body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.nominee-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    z-index: 10;
}


.timer {
    width: 50px;
    height: 50px;
    background-color: #007BFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.nominated-player-display {
    display: flex;
    flex-direction: column;
    background: black;
    top: 0;
    position: absolute;
    border: 1px solid #ccc;
    width: calc(100% - 400px);
    height: 200px;
    color: white;
}

.nominated-player-display h1 {
    margin: 0;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 25px;
}

.nominated-player-display p {
    padding-left: 25px;
}

.bidding-display {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.current-participant {
    flex-grow: 1;
    margin-left: 20px;
}

.draft-notification {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.team-selections {
    position: absolute;
    top: 250px;
    left: 10px;
    width: calc(100% - 100px);
    height: 400px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    z-index: 100;
}

.team-selections {
    text-align: center;
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

#toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#show-roster-label, #show-stats-label {
    font-size: 14px;
    color: #000;
    margin: 0 10px;
}

input:checked ~ #show-roster-label {
    opacity: 0.5;
}

input:checked ~ #show-stats-label {
    opacity: 1;
}

#roster-table {
    width: auto;
    height: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

#cumulative-table {
    width: 100%;
}

#roster-table th, #roster-table td {
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 80px;
    max-width: 100px;
    min-height: 70px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

#cumulative-table th, #cumulative-table td {
    min-width: 40px;
    max-width: 45px;
    max-height: 35px;
    font-size: 14px;
}

#roster-table th {
    background-color: #f0f0f0;
    position: sticky;
    top: 0;
    z-index: 1;
}

#roster-table tr {
    height: 70px;
}

#roster-table, #cumulative-table {
    max-width: 100%;
    overflow-x: auto;
}

table {
    width: auto;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 80px;
    max-width: 100px;
}

th {
    background-color: #f0f0f0;
    position: sticky;
    top: 0;
    z-index: 1;
}

tr {
    min-height: 47px;
}



.player-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 700px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card h2 {
    margin: 0;
}

.card p {
    margin: 5px 0;
}

.card input {
    width: 100px;
    padding: 10px;
}

.card button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

button.nominate {
    margin-right: 10px;
}